<a href="https://colab.research.google.com/github/hosngholami/RecommenderSystem/blob/main/preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [9]:
import pandas as pd
import numpy as np
import random
from sklearn.neighbors import NearestNeighbors

pd.set_option("display.max_columns", 100)
pd.set_option('display.max_rows', 100)

In [4]:
hotel = pd.read_csv('/content/drive/MyDrive/Shiraz/hotel.csv')
historic =  pd.read_csv('/content/drive/MyDrive/Shiraz/historic.csv')
museum = pd.read_csv('/content/drive/MyDrive/Shiraz/museum.csv')
park = pd.read_csv('/content/drive/MyDrive/Shiraz/park.csv')
restaurant = pd.read_csv('/content/drive/MyDrive/Shiraz/restaurant.csv')
hospital = pd.read_csv('/content/drive/MyDrive/Shiraz/hospital.csv')
placeOfWorship = pd.read_csv('/content/drive/MyDrive/Shiraz/place_of_worship.csv')
swimmingPool = pd.read_csv('/content/drive/MyDrive/Shiraz/swimming_pool.csv')

In [ ]:
hotel = hotel[["name", "name:en", "stars", "tourism", "geometry"]]
hotel.to_csv('/content/drive/MyDrive/Shiraz/hotel.csv')

In [52]:
swimmingPool.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 17 non-null     object
 1   @id                17 non-null     object
 2   access             2 non-null      object
 3   addr:city          1 non-null      object
 4   addr:street        1 non-null      object
 5   building           3 non-null      object
 6   contact:instagram  1 non-null      object
 7   indoor             1 non-null      object
 8   leisure            17 non-null     object
 9   lit                1 non-null      object
 10  location           2 non-null      object
 11  name               13 non-null     object
 12  name:en            4 non-null      object
 13  operator           1 non-null      object
 14  phone              1 non-null      object
 15  roof:colour        1 non-null      object
 16  roof:orientation   1 non-null      object
 17  roof:shape         1 non-null      object
 18  sport              2 non-null      object
 19  swimming_pool      1 non-null      object
 20  geometry           17 non-null     object
dtypes: object(21)
memory usage: 2.9+ KB

In [ ]:
historic = historic[["amenity",
          "building",
          "heritage",
          "historic",
          "leisure",
          "museum",
          "memorial",
          "name",
          "name:en",
          "opening_hours",
          "tourism",
          "geometry"]]
historic.to_csv('/content/drive/MyDrive/Shiraz/historic.csv')

In [ ]:
museum = museum[["amenity", "building", "heritage", "historic", "museum", "tourism", "geometry"]]
museum.to_csv('/content/drive/MyDrive/Shiraz/museum.csv')

In [ ]:
park = park[["leisure", "name", "name:en", "opening_hours", "geometry"]]
park.to_csv('/content/drive/MyDrive/Shiraz/park.csv')

In [ ]:
restaurant = restaurant[["amenity", "branch", "building", "cuisine", "name", "name:en", "opening_hours", "tourism", "geometry"]]
restaurant.to_csv('/content/drive/MyDrive/Shiraz/restaurant.csv')

In [ ]:
hospital = hospital[["amenity",
          "name",
          "name:en",
          "opening_hours",
          "geometry"]]

hospital.to_csv('/content/drive/MyDrive/Shiraz/hospital.csv')

In [ ]:
placeOfWorship = placeOfWorship[["amenity",
                "historic",
                "name",
                "name:en",
                "opening_hours",
                "place_of_worship:type",
                "tourism",
                "geometry"]]

placeOfWorship.to_csv('/content/drive/MyDrive/Shiraz/placeOfWorship.csv')

In [65]:
locations = pd.concat([historic, museum, park, restaurant, placeOfWorship, swimmingPool])
locations["Latitude"] = 0
locations["Longitude"] = 0

In [66]:
locations.info()

<class 'pandas.core.frame.DataFrame'>
Index: 878 entries, 0 to 16
Data columns (total 64 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             645 non-null    float64
 1   amenity                442 non-null    object
 2   building               234 non-null    object
 3   heritage               61 non-null     object
 4   historic               99 non-null     object
 5   leisure                361 non-null    object
 6   museum                 5 non-null      object
 7   memorial               5 non-null      object
 8   name                   590 non-null    object
 9   name:en                247 non-null    object
 10  opening_hours          34 non-null     object
 11  tourism                46 non-null     object
 12  geometry               878 non-null    object
 13  branch                 1 non-null      object
 14  cuisine                68 non-null     object
 15  id                     233 non-null    object
 16  @id                    233 non-null    object
 17  addr:city              12 non-null     object
 18  addr:street            62 non-null     object
 19  addr:town              1 non-null      object
 20  air_conditioning       1 non-null      object
 21  alt_name               8 non-null      object
 22  baby_feeding           1 non-null      object
 23  building_2             1 non-null      object
 24  check_date             16 non-null     object
 25  denomination           122 non-null    object
 26  description            1 non-null      object
 27  heritage:operator      20 non-null     object
 28  landuse                1 non-null      object
 29  layer                  1 non-null      float64
 30  level                  1 non-null      float64
 31  loc_name               1 non-null      object
 32  name:ar                1 non-null      object
 33  name:de                4 non-null      object
 34  name:fa                3 non-null      object
 35  name:it                1 non-null      object
 36  name:ru                4 non-null      object
 37  name:zh                2 non-null      object
 38  place_of_worship:type  2 non-null      object
 39  ref:ichhto             20 non-null     float64
 40  religion               216 non-null    object
 41  service_times          1 non-null      object
 42  subject:wikidata       1 non-null      object
 43  subject:wikipedia      1 non-null      object
 44  tomb                   1 non-null      object
 45  type                   22 non-null     object
 46  wheelchair             3 non-null      object
 47  wikidata               22 non-null     object
 48  wikipedia              22 non-null     object
 49  @geometry              153 non-null    object
 50  access                 2 non-null      object
 51  contact:instagram      1 non-null      object
 52  indoor                 1 non-null      object
 53  lit                    1 non-null      object
 54  location               2 non-null      object
 55  operator               1 non-null      object
 56  phone                  1 non-null      object
 57  roof:colour            1 non-null      object
 58  roof:orientation       1 non-null      object
 59  roof:shape             1 non-null      object
 60  sport                  2 non-null      object
 61  swimming_pool          1 non-null      object
 62  Latitude               878 non-null    int64
 63  Longitude              878 non-null    int64
dtypes: float64(4), int64(2), object(58)
memory usage: 445.9+ KB

In [67]:
for i in range(len(locations)):
  location = locations.iloc[i]['geometry']
  latitude = str(location).split(" ")[1]
  latitude = latitude.replace("'", "")
  latitude = latitude.replace("(", "")

  longitude = location.split(" ")[2]
  longitude = longitude.replace("'", "")
  longitude = longitude.replace(")", "")
  longitude = longitude.replace("(", "")


  locations.loc[i, 'Latitude'] = latitude
  locations.loc[i, 'Longitude'] = longitude

In [69]:
locations.to_csv('/content/drive/MyDrive/Shiraz/locations.csv')